@charset "UTF-8";
.text-dark-purple-light {
  color: rgb(79.5142857143, 12.1, 108.9);
}

.bg-dark-purple-light {
  background-color: rgb(79.5142857143, 12.1, 108.9);
}

.text-dark-purple-dark {
  color: rgb(12.4857142857, 1.9, 17.1);
}

.bg-dark-purple-dark {
  background-color: rgb(12.4857142857, 1.9, 17.1);
}

.text-purple-light {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-purple-light {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-purple-dark {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-purple-dark {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-purple-light {
  color: rgb(192.7264150943, 116.7830188679, 232.2169811321);
}

.bg-light-purple-light {
  background-color: rgb(192.7264150943, 116.7830188679, 232.2169811321);
}

.text-light-purple-dark {
  color: rgb(151.4622641509, 34.9528301887, 212.0471698113);
}

.bg-light-purple-dark {
  background-color: rgb(151.4622641509, 34.9528301887, 212.0471698113);
}

.text-lavender-light {
  color: white;
}

.bg-lavender-light {
  background-color: white;
}

.text-lavender-dark {
  color: #d7a7f1;
}

.bg-lavender-dark {
  background-color: #d7a7f1;
}

.text-white-light {
  color: white;
}

.bg-white-light {
  background-color: white;
}

.text-white-dark {
  color: rgb(229.5, 229.5, 229.5);
}

.bg-white-dark {
  background-color: rgb(229.5, 229.5, 229.5);
}

.text-black-light {
  color: rgb(25.5, 25.5, 25.5);
}

.bg-black-light {
  background-color: rgb(25.5, 25.5, 25.5);
}

.text-black-dark {
  color: black;
}

.bg-black-dark {
  background-color: black;
}

/*   bg-light-1-color */
.text-light-1-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-1-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-1-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-1-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-2-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-2-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-2-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-2-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-3-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-3-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-3-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-3-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-4-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-4-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-4-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-4-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3, h4, h5, h6 {
  font-size: 20px;
}

a {
  font-weight: 500;
  color: #7a1cac;
}
a:hover {
  color: #ad49e1;
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 1.25rem;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.navbar {
  background-color: #2e073f;
  padding: 1rem;
}
.navbar .navbar-brand {
  color: #ebd3f8;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .navbar-brand:hover {
  color: #ad49e1;
  transition: color 0.3s ease-in-out;
}
.navbar .navbar-brand:hover {
  text-decoration: none;
}
.navbar .nav-link {
  color: #ebd3f8;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
.navbar .nav-link:hover {
  color: #ad49e1;
  transition: color 0.3s ease-in-out;
}
.navbar .nav-link:hover {
  background-color: #7a1cac;
  border-radius: 5px;
}
.navbar .navbar-toggler {
  border: none;
  background-color: transparent;
  color: #ebd3f8;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
}
.navbar .navbar-toggler .navbar-toggler-icon:before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ebd3f8;
  transition: color 0.3s ease-in-out;
}
.navbar .navbar-toggler .navbar-toggler-icon:hover {
  color: #ad49e1;
}
.navbar .navbar-toggler .navbar-toggler-icon.collapsed::before {
  content: "\f00d";
}

.text-dark-purple-light {
  color: rgb(79.5142857143, 12.1, 108.9);
}

.bg-dark-purple-light {
  background-color: rgb(79.5142857143, 12.1, 108.9);
}

.text-dark-purple-dark {
  color: rgb(12.4857142857, 1.9, 17.1);
}

.bg-dark-purple-dark {
  background-color: rgb(12.4857142857, 1.9, 17.1);
}

.text-purple-light {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-purple-light {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-purple-dark {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-purple-dark {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-purple-light {
  color: rgb(192.7264150943, 116.7830188679, 232.2169811321);
}

.bg-light-purple-light {
  background-color: rgb(192.7264150943, 116.7830188679, 232.2169811321);
}

.text-light-purple-dark {
  color: rgb(151.4622641509, 34.9528301887, 212.0471698113);
}

.bg-light-purple-dark {
  background-color: rgb(151.4622641509, 34.9528301887, 212.0471698113);
}

.text-lavender-light {
  color: white;
}

.bg-lavender-light {
  background-color: white;
}

.text-lavender-dark {
  color: #d7a7f1;
}

.bg-lavender-dark {
  background-color: #d7a7f1;
}

.text-white-light {
  color: white;
}

.bg-white-light {
  background-color: white;
}

.text-white-dark {
  color: rgb(229.5, 229.5, 229.5);
}

.bg-white-dark {
  background-color: rgb(229.5, 229.5, 229.5);
}

.text-black-light {
  color: rgb(25.5, 25.5, 25.5);
}

.bg-black-light {
  background-color: rgb(25.5, 25.5, 25.5);
}

.text-black-dark {
  color: black;
}

.bg-black-dark {
  background-color: black;
}

/*   bg-light-1-color */
.text-light-1-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-1-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-1-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-1-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-2-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-2-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-2-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-2-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-3-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-3-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-3-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-3-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-4-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-4-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-4-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-4-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3, h4, h5, h6 {
  font-size: 20px;
}

a {
  font-weight: 500;
  color: #7a1cac;
}
a:hover {
  color: #ad49e1;
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 1.25rem;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* Hero Section Styles */
#hero {
  background-image: url("../img/hero.jpg"); /* Replace with your image URL */
  background-size: cover; /* Image will cover the entire section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image repetition */
  height: 100vh; /* Full viewport height */
  position: relative;
  color: #fff;
}

/* Optional additional styles */
#hero .text-center h1 {
  margin-bottom: 15px;
  font-size: 4rem; /* Adjust size based on your preference */
  font-weight: 700; /* Bold font for the hero title */
}

#hero .text-center p {
  font-size: 1.8rem; /* Subtitle size */
  font-size: 2rem; /* Adjust size based on your preference */
  font-weight: 900;
  color: rgb(167, 63, 154);
  letter-spacing: 0.09rem;
}

#hero .btn {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  background-color: #7a1cac;
  color: #F1F6F9;
}
#hero .btn:hover {
  background-color: #ad49e1;
}

#about {
  padding: 3rem 0;
  display: flex;
  align-items: center;
}
#about .img img {
  width: 300px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#about .social-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
#about .social-icons a {
  font-size: 1.8rem;
  color: #6a5acd;
  padding: 0.5rem;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}
#about .social-icons a:hover {
  color: #4b0082;
  transform: scale(1.1);
}
#about .text-section {
  padding-left: 2rem;
}
#about .text-section h2 {
  font-size: 2.5rem;
  color: #4b0082;
}
#about .text-section p {
  font-size: 1.1rem;
  color: #6a5acd;
}
#about .text-section ul {
  color: #9370db;
  padding-left: 1rem;
}
#about .text-section ul li {
  margin-bottom: 0.5rem;
}
#about .text-section ul li:before {
  content: "•";
  color: #4b0082;
  margin-right: 0.5rem;
}
#about .text-section ul ul {
  padding-left: 1.5rem;
}
#about .text-section ul ul li:before {
  content: "-";
  color: #9370db;
}

.edu-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  color: #333;
}
.edu-section .edu-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #6f42c1;
}
.edu-section .card-custom {
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.edu-section .card-custom:hover {
  transform: translateY(-5px);
}
.edu-section .card-custom .card-body {
  display: flex;
  align-items: center;
  padding: 20px;
}
.edu-section .card-custom .edu-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.skill-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.skill-heading {
  margin-top: 1.9rem;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 2rem;
  text-align: center;
  color: #7a1cac;
}

.progress {
  height: 40px;
  background-color: purple;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progress-bar-custom {
  background-color: purple;
  transition: width 1s ease;
  font-weight: bold;
  color: white;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  animation: fillProgress 1s forwards;
}

@keyframes fillProgress {
  from {
    width: 0;
  }
  to {
    width: var(--progress);
  }
}
.certificate-section {
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 60px 0;
  margin-top: 3rem;
}
.certificate-section .certificate-heading {
  font-size: 2rem;
  font-weight: 9rem;
  margin-top: 2rem;
  text-align: center;
  color: #7a1cac;
}
.certificate-section .card-custom {
  border: 2px solid #d3d3e3;
  background-color: #e6e6fa;
  border-radius: 10px;
  transition: transform 0.2s;
}
.certificate-section .card-custom:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: #2e073f;
  color: #ebd3f8;
  transition: transform 0.2s, background-color 0.1s, color 0.2s;
  border: 2px solid rgb(126, 126, 174);
}
.certificate-section .card-title {
  font-size: 1rem;
  font-weight: 1rem;
  color: #7a1cac;
}

.contact-section {
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5; /* Light background */
}

.contact-content {
  background-color: #e6e6fa; /* Light purple background */
  color: #333;
  max-width: 600px;
}

.contact-item a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.contact-item a:hover {
  color: #9370db; /* Light purple hover */
}

.project-section {
  min-height: 100vh;
  padding: 60px 0;
  background-color: #F1F6F9;
}
.project-section .project-heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: #2e073f;
}
.project-section .project-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.project-section .project-item {
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #ebd3f8;
  transition: transform 0.3s, background-color 0.3s;
}
.project-section .project-item:hover {
  background-color: #ad49e1;
  cursor: pointer;
  transform: translateY(-5px);
}
.project-section .project-item .project-title {
  font-size: 1.7rem;
  color: #2e073f;
}
.project-section .project-item .project-description {
  color: #7a1cac;
  margin: 10px 0 20px 0;
  text-align: left;
}
.project-section .project-item .project-description:hover {
  color: #ebd3f8;
}
.project-section .project-item .btn-outline-primary {
  border: 2px solid purple;
  background-color: #ad49e1;
  color: #F1F6F9;
  padding: 8px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.project-section .project-item .btn-outline-primary:hover {
  background-color: #2e073f;
  color: #ebd3f8;
}
.project-section .project-all-link {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: #2e073f;
}
.project-section .project-all-link a {
  color: #ad49e1;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}
.project-section .project-all-link a:hover {
  color: #ebd3f8;
  transform: scale(1.05);
}

.footer {
  background-color: #2e073f; /* Use your desired color */
  color: #ffffff; /* Text color */
  padding: 10px 0; /* Padding for top and bottom */
  position: relative; /* Positioning */
  bottom: 0; /* Stick to bottom */
  width: 100%; /* Full width */
}

.footer .container {
  max-width: 1200px; /* Optional max width */
  margin: 0 auto; /* Center the content */
}

.text-dark-purple-light {
  color: rgb(79.5142857143, 12.1, 108.9);
}

.bg-dark-purple-light {
  background-color: rgb(79.5142857143, 12.1, 108.9);
}

.text-dark-purple-dark {
  color: rgb(12.4857142857, 1.9, 17.1);
}

.bg-dark-purple-dark {
  background-color: rgb(12.4857142857, 1.9, 17.1);
}

.text-purple-light {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-purple-light {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-purple-dark {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-purple-dark {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-purple-light {
  color: rgb(192.7264150943, 116.7830188679, 232.2169811321);
}

.bg-light-purple-light {
  background-color: rgb(192.7264150943, 116.7830188679, 232.2169811321);
}

.text-light-purple-dark {
  color: rgb(151.4622641509, 34.9528301887, 212.0471698113);
}

.bg-light-purple-dark {
  background-color: rgb(151.4622641509, 34.9528301887, 212.0471698113);
}

.text-lavender-light {
  color: white;
}

.bg-lavender-light {
  background-color: white;
}

.text-lavender-dark {
  color: #d7a7f1;
}

.bg-lavender-dark {
  background-color: #d7a7f1;
}

.text-white-light {
  color: white;
}

.bg-white-light {
  background-color: white;
}

.text-white-dark {
  color: rgb(229.5, 229.5, 229.5);
}

.bg-white-dark {
  background-color: rgb(229.5, 229.5, 229.5);
}

.text-black-light {
  color: rgb(25.5, 25.5, 25.5);
}

.bg-black-light {
  background-color: rgb(25.5, 25.5, 25.5);
}

.text-black-dark {
  color: black;
}

.bg-black-dark {
  background-color: black;
}

/*   bg-light-1-color */
.text-light-1-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-1-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-1-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-1-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-2-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-2-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-2-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-2-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-3-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-3-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-3-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-3-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

.text-light-4-color {
  color: rgb(153.11, 35.14, 215.86);
}

.bg-light-4-color {
  background-color: rgb(153.11, 35.14, 215.86);
}

.text-dark-4-color {
  color: rgb(90.89, 20.86, 128.14);
}

.bg-dark-4-color {
  background-color: rgb(90.89, 20.86, 128.14);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3, h4, h5, h6 {
  font-size: 20px;
}

a {
  font-weight: 500;
  color: #7a1cac;
}
a:hover {
  color: #ad49e1;
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 1.25rem;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
